<%= form_for [:admin, @additional_product_group],
             url: {action: "add_product"},
             html: {class: 'formtastic city'} do |f| %>
  <%= fields_for @product do |product_form| %>
    <%= product_form.label :id %>
    <%= product_form.text_field :id %>
  <% end %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
