<section class="content">
  <div class="uk-container uk-container-center compare">
    <div class="compare__title-grouup">
      <h2 class="compare__title">Сравнение товаров:</h2>
      <% @product_groups.each do |product_group| %>
        <%= link_to product_group.name, '#', class: 'compare__group-link' %>
      <% end %>
    </div>
    <div class="compare__control-group">
      <div class="uk-button btn btn--blue-inverse is-active compare__control-button" onclick="$('.compare__control-button').removeClass('is-active');$(this).addClass('is-active');">Все характеристики</div>
      <div class="uk-button btn btn--blue-inverse btn--nobl compare__control-button" onclick="$('.compare__control-button').removeClass('is-active');$(this).addClass('is-active');">Только отличающиеся</div>
    </div>
    <% @product_groups.each do |product_group| %>
    <h3 class="compare__group-title"><%= product_group.name %></h3>
    <div class="uk-overflow-container">
      <table class="compare__table">
        <tr>
          <td class="compare__td-char"></td>
          <% product_group.product_categories.each do |product_category| %>
            <% product_category.products.each do |product| %>
              <td>
                <%= image_tag product.image.url(:thumb), class: 'compare__item-image' %>
              </td>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <td class="compare__td-char">Модель</td>
            <% product_group.product_categories.each do |product_category| %>
              <% product_category.products.each do |product| %>
                <td>
                  <%= link_to product.name,
                              product_path(product),
                              class: 'link--blue-red link--td-inverse' %>
                  <%= link_to compare_remove_path,
                              data: {id: product.id},
                              class: 'link--red' do %>
                    <i class="uk-icon-close"></i>
                  <% end %>
                </td>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <td class="compare__td-char">Артикул</td>
          <% product_group.product_categories.each do |product_category| %>
            <% product_category.products.each do |product| %>
            <td>
              <%= product.article %>
            </td>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <td class="compare__td-char">Цена</td>
          <% product_group.product_categories.each do |product_category| %>
            <% product_category.products.each do |product| %>
              <td>
                <div>5 132 <span class="rub compare__rub"></span></div>
                <a class="uk-button btn btn--red btn--rounded btn--mw135 search__to-cart" data-uk-modal href="#modal-added-to-cart"><i class="uk-icon-shopping-cart"></i>В корзину</a>
              </td>
            <% end %>
          <% end %>
        </tr>
        <!-- <tr class="compare__tr-similar">
          <td class="compare__td-char">Бренд инсталляции</td>
          <td>Cersanit</td>
          <td>Cersanit</td>
          <td>Cersanit</td>
          <td>Cersanit</td>
        </tr>
        <tr class="compare__tr-similar">
          <td class="compare__td-char">Бренд унитаза</td>
          <td>Cersanit</td>
          <td>Cersanit</td>
          <td>Cersanit</td>
          <td>Cersanit</td>
        </tr> -->
      </table>
    </div>
    <% end %>
  </div>
</section>
