<h3>История просмотра</h3>
<div class="uk-grid uk-grid-xsmall cg__grid">
  <% products.each do |product| %>
    <div class="uk-width-1-1 cg__good">
      <div class="cg__good-cont">
        <div class="cg__good-art">
          <% unless product.brand.nil? || product.brand.country.nil? %>
            <% if product.brand.country.flag.file.exists? %>
              <%= image_tag product.brand.country.flag.url %>
            <% else %>
              <%= product.brand.country.name %>
            <% end %>
          <% end %>
          Артикул: <%= product.article %>
          <i class="uk-icon-list-ul cg__good-tocompare <%= 'is-active' if session[:compare_products].include?(product.id.to_s) %>"></i>
        </div>
        <%= link_to product.name,
          product_path(product),
          class: 'cg__good-name' %>
        <%= link_to product_path(product),
        class: 'cg__good-name' do %>
          <% if product.image.file.exists? %>
            <%= image_tag product.image.url(:thumb), class: 'cg__good-image' %>
          <% else %>
            <%= image_tag product.image.default_url(:thumb), class: 'cg__good-image' %>
          <% end %>
        <% end %>
        <div class="cg__good-about">
          Сигнализатор загазованности СКЗ-Кристалл DN15(СН4) c двумя порогами срабатывания Энергосистемы Сигнализатор загазованности Турбулентность Дон СКЗ-Кристалл DN15(СН4) c двумя порогами срабатывания. Контролирует уровень природного газа в помещении.
        </div>
        <div class="cg__price">
          <%= product.price(current_subdivision).price_kopecks unless product.price(current_subdivision).nil? %>
          <!-- <span class="cg__old-price">8999 <span class="rub"></span></span> -->
        </div>
        <a class="uk-button btn btn--light-red btn--rounded btn--mw135 cg__good-cart" href="/cart.html">
          <i class="uk-icon-shopping-cart"></i>Добавлено
        </a>
      </div>
      <input type="hidden" name="id" value="<%= product.id %>">
    </div>
  <% end %>
</div>
