<section class="content">
  <div class="uk-container uk-container-center cgood">
    <%= render partial: 'breadcrumbs' %>
    <div class="uk-grid uk-grid-small">
      <div class="uk-width-1-1 uk-width-large-4-5">
        <div class="uk-grid uk-grid-small">
          <div class="uk-width-1-1 uk-width-medium-2-3">
            <div class="cgood__image-cont mark-hit">
            <% if @product.image.file.exists? %>
              <a data-uk-lightbox="{group:'good'}" href="<%= @product.image.url %>">
                <%= image_tag @product.image.url %>
              </a>
            <% else %>
              <%= image_tag @product.image.default_url %>
            <% end %>
            </div>
            <!-- <div class="cgood__image-list">
              <a class="cgood__image-list-item" style="background-image: url('/images/temp/good-large-2.png')" data-uk-lightbox="{group:'good'}" href="/images/temp/good-large-1.png" title="Унитаз + инсталляция 2"></a>
              <a class="cgood__image-list-item" style="background-image: url('/images/temp/good-large-2.png')" data-uk-lightbox="{group:'good'}" href="/images/temp/good-large-1.png" title="Унитаз + инсталляция 3"></a>
              <a class="cgood__image-list-item" style="background-image: url('/images/temp/good-large-2.png')" data-uk-lightbox="{group:'good'}" href="/images/temp/good-large-1.png" title="Унитаз + инсталляция 4"></a>
            </div> -->
            <div class="cgood__about-cont text-content">
              <h3 class="uk-text-center">Описание</h3>
              <div class="cgood__about">
                <%= @product.short_description.html_safe %>
              </div>
              <div class="cgood__about cgood__about--hidden">
                <%= @product.rest_of_description.html_safe %>
              </div>
              <div class="cgood__about-more-cont">
                <div class="uk-button btn btn--blue btn--rounded btn--mw135 js-good-about-more">
                  <i class="uk-icon-arrow-circle-o-down"></i>Показать полное описание
                </div>
                <div class="uk-button btn btn--blue btn--rounded btn--mw135 js-good-about-more js-good-about-more--hide">
                  <i class="uk-icon-arrow-circle-o-up"></i>Скрыть полное описание
                </div>
              </div>
            </div>
          </div>
          <div class="uk-width-1-1 uk-width-medium-1-3">
            <div class="cgood__buy-cont">
              <input class="cart__item-count cg__count cgood__count" type="number" value="1" min="1" max="999" maxlength="3">
              <div class="cgood__price">
                <%= @product.price(current_subdivision).price_kopecks unless @product.price(current_subdivision).nil? %>
              </div>
              <a class="uk-button btn btn--red btn--rounded btn--mw135 cgood__good-cart" data-uk-modal="" href="#modal-added-to-cart">
                <i class="uk-icon-shopping-cart"></i>В корзину
              </a>
              <input type="hidden" name="id" value="<%= @product.id %>">
              <div class="cgood__price-text">Цена обновлена 12 Июля 14:30</div>
              <div class="cgood__nal">
                <i class="uk-icon-check"></i>Есть в наличии
              </div>
              <div class="cgood__art">
                <% unless @product.brand.nil? || @product.brand.country.nil? %>
                  <% if @product.brand.country.flag.file.exists? %>
                    <%= image_tag @product.brand.country.flag.url%>
                  <% else %>
                    <%= @product.brand.country.name %>
                  <% end %>
                <% end %>
                Артикул: <%= @product.article %>
              </div>
              <div class="cgood__brand">
                <% unless @product.brand.nil? %>
                  <% if @product.brand.image.file.exists? %>
                    <%= image_tag @product.brand.image.url(:small) %>
                  <% else %>
                    <%= @product.brand.name %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="cgood__click-cont">
              <div class="uk-grid uk-grid-xsmall">
                <div class="uk-width-1-1 uk-width-xlarge-1-2">
                  <div class="uk-button btn btn--blue btn--rounded btn--100 mt-5">
                    <i class="uk-icon-shopping-bag"></i>Купить в 1 клик
                  </div>
                </div>
                <div class="uk-width-1-1 uk-width-xlarge-1-2">
                  <div class="uk-button btn btn--blue btn--rounded btn--100 mt-5">
                    <i class="uk-icon-shopping-bag"></i>В сравнение
                  </div>
                </div>
                <div class="uk-width-1-1">
                  <div class="uk-button btn btn--blue btn--rounded btn--100 mt-5">
                    <span class="rub"></span>&nbsp;&nbsp;Хочу дешевле
                  </div>
                </div>
              </div>
            </div>
            <div class="cgood__opt-cont">
              <div class="cgood__opt">
                <img src="/images/opt-1.png" alt="">
              </div>
              <div class="cgood__opt">
                <img src="/images/opt-2.png" alt="">
              </div>
              <div class="cgood__opt">
                <img src="/images/opt-3.png" alt="">
              </div>
              <div class="cgood__opt">
                <img src="/images/opt-4.png" alt="">
              </div>
              <div class="cgood__opt">
                <img src="/images/opt-5.png" alt="">
              </div>
              <div class="cgood__opt">
                <img src="/images/opt-6.png" alt="">
              </div>
            </div>
            <div class="cgood__char">
              <h3>Характеристики</h3>
              <div class="cgood__char-list">
                <% @product.product_characteristic_values.each do |pcv| %>
                  <% next if pcv.value_by_type.empty? %>
                  <div class="cgood__char-item uk-grid uk-grid-xsmall">
                    <div class="uk-width-1-1 uk-width-medium-1-2">
                      <%= pcv.characteristic_name %>
                    </div>
                    <div class="uk-width-1-1 uk-width-medium-1-2 uk-text-right">
                      <%= pcv.value_by_type %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="cgood__other-cont">
          <h3>Другие товары этой коллекции</h3>
          <div class="uk-grid uk-grid-xsmall cg__grid">
            <div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4 cg__good">
              <div  class="cg__good-cont">
                <div class="cg__good-art">
                  <img src="/images/temp/flag-ger.jpg" class="cg__good-flag" alt="">
                  Артикул: 149865
                  <i class="uk-icon-list-ul cg__good-tocompare is-active"></i>
                </div>
                <a href="/catalog_good.html" class="cg__good-name">
                  Инсталляция с кнопкой для унитаза WC1010+ Унитаз Альфа подвесной с сиденьем Ани Пласт
                </a>
                <a href="/catalog_good.html">
                  <img class="cg__good-image" src="/images/temp/good-big-1.jpg">
                </a>
                <div class="cg__good-about">
                  Сигнализатор загазованности СКЗ-Кристалл DN15(СН4) c двумя порогами срабатывания Энергосистемы Сигнализатор загазованности Турбулентность Дон СКЗ-Кристалл DN15(СН4) c двумя порогами срабатывания. Контролирует уровень природного газа в помещении.
                </div>
                <div class="cg__price">
                  7830 <span class="rub"></span>
                  <span class="cg__old-price">
                    8999 <span class="rub"></span>
                  </span>
                </div>
                <a class="uk-button btn btn--light-red btn--rounded btn--mw135 cg__good-cart" href="/cart.html">
                  <i class="uk-icon-shopping-cart"></i>Добавлено
                </a>
              </div>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4 cg__good">
              <div  class="cg__good-cont">
                <div class="cg__good-art">
                  <img src="/images/temp/flag-ger.jpg" class="cg__good-flag" alt="">
                  Артикул: 149865
                  <i class="uk-icon-list-ul cg__good-tocompare"></i>
                </div>
                <a href="/catalog_good.html" class="cg__good-name">
                  Инсталляция с кнопкой для унитаза WC1010+ Унитаз Альфа подвесной с сиденьем Ани Пласт
                </a>
                <a href="/catalog_good.html">
                  <img class="cg__good-image" src="/images/temp/good-big-1.jpg">
                </a>
                <div class="cg__good-about">
                  Сигнализатор загазованности СКЗ-Кристалл DN15(СН4) c двумя порогами срабатывания Энергосистемы Сигнализатор загазованности Турбулентность Дон СКЗ-Кристалл DN15(СН4) c двумя порогами срабатывания. Контролирует уровень природного газа в помещении.
                </div>
                <div class="cg__price">
                  7830 <span class="rub"></span>
                  <span class="cg__old-price">
                    8999 <span class="rub"></span>
                  </span>
                </div>
                <a class="uk-button btn btn--red btn--rounded btn--mw135 cg__good-cart" data-uk-modal="" href="#modal-added-to-cart">
                  <i class="uk-icon-shopping-cart"></i>В корзину
                </a>
              </div>
            </div>
            <div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4 cg__good">
              <div  class="cg__good-cont">
                <div class="cg__good-art">
                  <img src="/images/temp/flag-ger.jpg" class="cg__good-flag" alt="">
                  Артикул: 149865
                  <i class="uk-icon-list-ul cg__good-tocompare"></i>
                </div>
                <a href="/catalog_good.html" class="cg__good-name">
                  Инсталляция с кнопкой для унитаза WC1010+ Унитаз Альфа подвесной с сиденьем Ани Пласт
                </a>
                <a href="/catalog_good.html">
                  <img class="cg__good-image" src="/images/temp/good-big-1.jpg">
                </a>
                <div class="cg__good-about">
                  Сигнализатор загазованности СКЗ-Кристалл DN15(СН4) c двумя порогами срабатывания Энергосистемы Сигнализатор загазованности Турбулентность Дон СКЗ-Кристалл DN15(СН4) c двумя порогами срабатывания. Контролирует уровень природного газа в помещении.
                </div>
                <div class="cg__price">
                  7830 <span class="rub"></span>
                  <span class="cg__old-price">
                    8999 <span class="rub"></span>
                  </span>
                </div>
                <a class="uk-button btn btn--red btn--rounded btn--mw135 cg__good-cart" data-uk-modal="" href="#modal-added-to-cart">
                  <i class="uk-icon-shopping-cart"></i>
                  В корзину
                </a>
              </div>
            </div>
          </div>
        </div>

                    <div class="cgood__comments-cont">
                        <img src="/images/temp/comments.png" alt="">
                    </div>

                    <div class="cgood__info-block text-content">

                        <p>Купить Газовая поверхность Домино Q301SFD-SS Midea артикул: 116319 в интернет-магазине ESMAG - Екатеринбург со скидкой (Условия акции).</p>

                        <p>Также Вы можете получить скидку в 2% за самовывоз из нашего магазина! Внимание! Акция не распространяется на акционные товары!</p>
                        <p>Помогите другим покупателям выбрать правильный интернет-магазин сантехники в городе Екатеринбург.</p>
                        <p>Оставьте свой отзыв о нашей работе на <a href="#">Яндекс.Маркет</a> <img src="/images/temp/zvezdy.png" alt=""></p>

                        <p>Покупайте весь спектр сантехники от ведущих зарубежных и отечественных производителей в нашем интернет-магазине по низким ценам с гарантией.</p>

                        <p>Если товар привозится под заказ, может потребоваться частичная или полная предоплата.</p>
                        <hr>
                        <p class="text--small">Техническое описание товара предоставлено официальным представительством компании производителя и актуально на дату появления товара в нашем каталоге. Производитель может незначительно изменять характеристики товара без нашего уведомления.</p>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-width-large-1-5 uk-hidden-medium uk-hidden-small">
                  <%= render partial: 'products_history', locals: {products: @products_history} %>
                </div>
            </div>

        </div>
    </section>
