<% collection.each do |group| %>
  <li class="group <%= group.root? ? 'root' : '' %>">
    <% if group.is_childless? %>
      <span>
        <%= group.name %>
      </span>
      <%= link_to fa_icon('edit'),
                  edit_admin_product_group_path(group),
                  title: 'Редактировать' %>
      <%= link_to fa_icon('eye'),
                  admin_product_group_path(group),
                  title: 'Просмотреть' %>
    <% else %>
      <span>
        <%= group.name %>
      </span>
      <%= link_to fa_icon('edit'),
                  edit_admin_product_group_path(group),
                  title: 'Редактировать' %>
      <%= link_to fa_icon('eye'),
                  admin_product_group_path(group),
                  title: 'Просмотреть' %>
      <ul>
        <%= render 'sidebar_tree', collection: group.children %>
      </ul>
    <% end %>
    <ul>
      <% if group.has_categories? %>
        <% group.product_categories.each do |category| %>
          <li class="category">
            <%= link_to products_admin_product_category_path(category), remote: true do %>
              <%= category.name %>
            <% end %>
            <%= link_to fa_icon('edit'),
                        edit_admin_product_category_path(category),
                        title: 'Редактировать' %>
            <%= link_to fa_icon('eye'),
                        admin_product_category_path(category),
                        title: 'Просмотреть' %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>