<div class="breadcrumbs no-select">
  <%= link_to 'Главная', root_path, class: 'breadcrumbs__item breadcrumbs__item--first breadcrumbs__item--1' %>
  <%= link_to @product_group.name, product_group_path(@product_group.slug), class: 'breadcrumbs__item breadcrumbs__item--2' %>
  <span class='breadcrumbs__item breadcrumbs__item--last breadcrumbs__item--3'><%= @product_category.name %></span>
</div>
