<div class="cg__sort">
  <%= link_to 'По цене',
        params.merge(sort_by: ['price_kopecks', 'asc']),
        class: 'uk-button btn btn--light-blue btn--rounded btn--sorting btn--sorting-down' %>

  <div class="uk-button btn btn--light-blue btn--rounded is-active btn--sorting btn--sorting-up">
    По популярности
  </div>
  <div class="uk-button btn btn--red btn--rounded">
    Только акции
  </div>
  <span class="cg__sort-count">
    Всего товаров - <%= @product_category.products.count %>
  </span>
  
  <div class="uk-button btn btn--rounded btn--sq btn--light-blue uk-hidden-small js-catalog-to-th-list">
    <i class="uk-icon-th-list"></i>
  </div>
  <div class="uk-button btn btn--rounded btn--sq btn--light-blue uk-hidden-small js-catalog-to-th is-active">
    <i class="uk-icon-th"></i>
  </div>&nbsp;&nbsp;
  <%= active_link_to '30',
        params.merge(per: nil),
        class: 'uk-button btn btn--rounded btn--sq btn--light-blue',
        class_active: 'is-active',
        active: :exact %>
  <%= active_link_to '60',
        params.merge(per: 60),
        class: 'uk-button btn btn--rounded btn--sq btn--light-blue',
        class_active: 'is-active',
        active: :exact %>
  <%= active_link_to '90',
        params.merge(per: 90),
        class: 'uk-button btn btn--rounded btn--sq btn--light-blue',
        class_active: 'is-active',
        active: :exact %>&nbsp;&nbsp;
  <div class="uk-button btn btn--rounded btn--sq btn--light-blue">→</div>
</div>