<section class="content">
  <div class="uk-container uk-container-center cg">
    <div class="uk-grid">
      <div class="uk-width-1-1 uk-width-medium-5-7 uk-width-large-4-5 uk-push-2-7">
        <%= render partial: 'breadcrumbs' %>
        <%= render partial: 'sort' %>
        <div class="uk-grid uk-grid-xsmall cg__grid">
          <% @products.each do |product| %>
            <%= render partial: 'product', locals: {product: product} %>
          <% end %>
        </div>
        <%= paginate @products %>
      </div>
      <div class="uk-width-1-1 uk-width-medium-2-7 uk-width-large-1-5 uk-pull-5-7">
        <div class="cf uk-hidden-small">
          <!--
            Всплывающая плашка - Показать при изменении фильтра
            Убрать uk-hidden
           -->
          <div class="cf__search-result uk-hidden" style="top: 230px;">
            Найдено 87 <a href="#">Показать</a>
          </div>
          <div class="cf__title no-select">Стоимость, Р</div>
          <div class="cf__range-group">
            <div class="cf__input-group">
              <input type="text" value="2500"> -
              <input type="text" value="2900">
            </div>
            <div class="cf__range-slider" data-min="10" data-max="500" data-start="100" data-end="400"></div>
          </div>
          <div class="cf__title no-select">Размеры, мм</div>
          <div class="cf__range-group">
            <div class="cf__input-group">
              <input type="text" value="2500"> -
              <input type="text" value="2900">
            </div>
            <div class="cf__range-slider"></div>
          </div>
          <div class="cf__title cf__title--toggled is-open no-select">
            Бренд инсталляции
            <i class="uk-icon-info-circle cf__info" data-uk-tooltip="{pos:'bottom-left'}" title="Накопительный - вода нагреется в специальном баке в процессе работы нагревательного элемента.
                Проточный - нагревание воды происходит практически мгновенно после ее прохождения через теплообменник.
                Проточно-накопительный - комбинированный тип нагрева воды.
                Бойлер - горячая вода циркулирует в контуре большой ёмкости."></i>
          </div>
          <div class="cf__group uk-form">
            <label class="uk-margin-small-top"><input type="checkbox" name="ch-1"> Alcaplast</label>
            <label class="uk-margin-small-top"><input type="checkbox" name="ch-2"> Adidas</label>
            <label class="uk-margin-small-top"><input type="checkbox" name="ch-2"> Nike</label>
          </div>
          <div class="cf__title cf__title--toggled no-select">
            Заголовок
            <i class="uk-icon-info-circle cf__info" data-uk-tooltip="{pos:'bottom-left'}" title="Накопительный - вода нагреется"></i>
          </div>
          <div class="cf__group uk-form">
            <label class="uk-margin-small-top"><input type="checkbox" name="ch-1"> Только в наличии</label>
            <label class="uk-margin-small-top"><input type="checkbox" name="ch-2"> Только в акциях</label>
          </div>
          <div class="cf__controls">
            <a href="#" class="uk-button btn btn--blue btn--rounded cf__control-show">Показать</a>
            <a href="#" class="link link--light-gray link--dotted text--medium">Сбросить</a>
          </div>
        </div>
        <%= render 'shared/last_news' %>
      </div>
    </div>
  </div>
</section>
