<div class="breadcrumbs no-select">
  <%= link_to 'Главная', root_path, class: 'breadcrumbs__item breadcrumbs__item--first breadcrumbs__item--1' %>
  <span class="breadcrumbs__item breadcrumbs__item--last breadcrumbs__item--2">
    <%= product_group.name %>
  </span>
</div>
