<div class="uk-grid uk-grid-xsmall catalog__group-grid">
  <% product_group.product_categories.each do |product_category| %>
  <div class="uk-width-1-2 uk-width-medium-1-3 uk-width-large-1-4 uk-width-xlarge-1-6">
    <%= link_to product_group_product_category_path(product_group.slug, product_category.slug), class: 'catalog__group-item' do %>
      <%= image_tag product_category.image %>
      <div class="catalot__group-name"><%= product_category.name %></div>
    <% end %>
  </div>
  <% end %>
</div>