<section class="content">
  <div class="uk-container uk-container-center catalog">
    <div class="uk-grid">
      <div class="uk-width-1-1 uk-width-medium-5-7 uk-width-large-4-5 uk-push-2-7">
        <%= render partial: 'breadcrumbs', locals: {product_group: @product_group} %>
        <%= @product_group.content.html_safe unless @product_group.content.nil? %>
      </div>
      <div class="uk-width-1-1 uk-width-medium-2-7 uk-width-large-1-5 uk-pull-5-7">
        <div class="last-news">
          <div class="last-news__title">
              Новости
          </div>
          <div class="last-news__item">
            <div class="last-news__item-date">15 июня 2016 года</div>
            <a href="/new.html" class="last-news__item-name">Хиты продаж - подвесные унитазы SSWW! </a>
            <div class="last-news__item-anons">Хиты продаж - подвесные унитазы SSWW!</div>
          </div>
          <div class="last-news__item">
            <div class="last-news__item-date">7 июня 2016 года</div>
            <a href="/new.html" class="last-news__item-name">Только до 30 июня на весь Ravak скидка 25%! </a>
            <div class="last-news__item-anons">Только до 30 июня на весь Ravak скидка 25%!</div>
          </div>
          <div class="last-news__item">
            <div class="last-news__item-date">19 мая 2016 года</div>
            <a href="/new.html" class="last-news__item-name">Расширение ассортимента - посуда Fissman! </a>
            <div class="last-news__item-anons">
              Посуда, выпускаемая под брендом Fissman, известна как одна из самых надежных, безопасных и долговечных
            </div>
          </div>
          <div class="last-news__more-cont">
            <a href="/news.html" class="uk-button btn btn--blue btn--rounded">Все новости</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
