<div class="uk-container uk-container-center main-brands__cont">
  <ul class="main-brands" id="b-slider">
    <% brands.each do |brand| %>
      <li class="main-brands__item">
        <a href="/brands.html">
          <%= image_tag brand.image %>
        </a>
      </li>
    <% end %>
  </ul>
</div>