<% if not @popular_product_groups.empty? %>
  <div class="uk-container uk-container-center">
    <h2>Популярные категории интернет-магазина:</h2>
    <div class="uk-grid popular">
      <% @popular_product_groups.each do |popular_product_group| %>
        <div class=" uk-width-1-2 uk-width-medium-1-5 uk-width-xlarge-1-8">
          <%= link_to popular_product_group.link, class: 'popular__item' do %>
            <div class="popular__item-img-cont">
              <div class="popular__item-img" style="background-image: url('<%= popular_product_group.image %>');"></div>
            </div>
            <div class="popular__item-name">
              <%= popular_product_group.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>