<div class="uk-container uk-container-center m-slider">
  <div class="uk-grid uk-grid-collapse">
    <div class="uk-width-1-1 uk-width-large-8-10">
      <div class="m-slider__cont" id="m-slider">
        <% slides.each do |slide| %>
          <%= link_to slide.link, class: 'm-slider__item' do %>
            <%= image_tag slide.image.url %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="uk-visible-large uk-width-large-2-10 m-slider__control-cell">
      <div class="m-slider__control-cont" id="main-slider-scroll-pane">
        <% slides.each_with_index do |slide, index| %>
          <div class="m-slider__control-item <%= 'is-active' if index == 0 %>"><%= slide.title %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>