<div class="cm-catalog-nav">
  <div class="cm-slider">
    <ul class="cm-slider__ul js-cm-slider" id="catalog-top-slider">
      <% @menu_elements.roots.order(:order).each do |root_element| %>
        <li class="cm-slider__item">
          <%= image_tag root_element.image.url, class: 'cm-slider__item-img' %>
          <div class="cm-slider__item-name">
            <%= root_element.name %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="cm-slider__sub-menu uk-container-full uk-container-center">

    <% @menu_elements.roots.order(:order).each do |root_element| %>
      <div class="uk-grid uk-grid-small cm-slider__group">
        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
          <% root_element.children.where(column: 1).order(:order).each do |children| %>
            <a href="<%= children.link %>" class="cm-slider__sub-menu-item <%= 'cm-slider__sub-menu-item--parent' if children.is_title %>">
              <%= children.name %>
            </a>
          <% end %>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
          <% root_element.children.where(column: 2).order(:order).each do |children| %>
            <a href="<%= children.link %>" class="cm-slider__sub-menu-item <%= 'cm-slider__sub-menu-item--parent' if children.is_title %>">
              <%= children.name %>
            </a>
          <% end %>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
          <% root_element.children.where(column: 3).order(:order).each do |children| %>
            <a href="<%= children.link %>" class="cm-slider__sub-menu-item <%= 'cm-slider__sub-menu-item--parent' if children.is_title %>">
              <%= children.name %>
            </a>
          <% end %>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
          <% root_element.children.where(column: 4).order(:order).each do |children| %>
            <a href="<%= children.link %>" class="cm-slider__sub-menu-item <%= 'cm-slider__sub-menu-item--parent' if children.is_title %>">
              <%= children.name %>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>