<div class="fixed">
  <%= link_to compare_path,
              class: 'fixed__item fixed__item--compare' do %>
    <div class="fixed__title">
      Сравнение <span><%= session[:compare_products]&.count || 0 %> </span>
    </div>
  <% end %>
  <div class="fixed__item fixed__item--cart">
    <a href="/cart.html" class="fixed__title">
      <i class="uk-icon-shopping-cart"></i> Корзина <span>
        <%= @basket_products.count %>
      </span>
    </a>
    <div class="fixed__content">
      <a href="#" class="fixed__c-remove-all">Убрать все</a>
      <div class="fixed__c-title">Ваш заказ</div>
      <div class="fixed__c-content">
        <% @basket_products.each do |product| %>
        <div class="fixed__c-item">
          <div class="uk-grid uk-grid-xsmall">
            <div class="uk-width-5-10 fixed__c-name-cont">
              <%= link_to product.name, product_path(product), class: 'fixed__c-name' %>
            </div>
            <div class="uk-width-2-10">
              <input type="number" value="1" class="fixed__c-input">
            </div>
            <div class="uk-width-3-10">
              <div class="fixed__c-price">1162 <span class="rub"></span> <i class="uk-icon-times-circle fixed__c-remove"></i></div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="fixed__c-itog">
        Всего на сумму:
        <div class="fixed__c-price">1162 <span class="rub"></span></div>
        <a href="/cart.html" class="uk-button btn--rounded btn--white btn--small btn--xrounded fixed__c-order">Оформить</a>
      </div>
    </div>
  </div>
</div>
