<footer class="footer">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-1-1 uk-width-medium-3-10 footer__grid-cell">
        <div class="footer__logo-cont">
          <img class="footer__logo" src="/images/logo.png" alt="">
        </div>
        <div class="footer__links-cont">
          <% @bottom_menu_elements.each do |element| %>
            <%= link_to element.name,
                        element.link,
                        class: 'footer__link link--gray link--td-inverse' %>
          <% end %>
          <a href="#" class="footer__link link--gray link--td-inverse">Письмо директору</a>
          <a href="#" class="footer__link link--gray link--td-inverse">Корзина</a>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-medium-2-10 footer__grid-cell">
        <img class="footer__stat" src="/images/temp/stat.png" alt="">
      </div>
      <div class="uk-width-1-1 uk-width-medium-5-10 footer__grid-cell">
        <div class="footer__text">
          Указанные на сайте цены не являются публичной офертой (ст.435 ГК РФ).<br>
          Используемые на сайте изображения товаров могут включать дополнительное оборудование и компоненты, не входящие в стандартную комплектацию товара.<br>
          © 2016 ESMAG — интернет-магазин сантехники в Екатеринбургe<br>
          Все цены указаны в рублях (PУБ.)<br>
          +7 (343) 389 98 98<br>
        </div>
        <a href="#" class="footer__email">info@esmag.ru</a>
      </div>
    </div>
  </div>
</footer>