<header class="header">
  <div class="uk-container-full uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-1-1 uk-width-medium-2-10 uk-text-center-small">
        <a href="/"><img src="/images/logo.png" alt="Esmag" class="header__logo"></a>
      </div>
      <div class="uk-width-1-1 uk-width-medium-6-10 header__nav-cont" id="header-nav-cont">

        <ul class="header__nav">
          <% @top_menu_elements.each do |element| %>
            <li class="header__nav-item">
              <%= link_to element.name, element.link, class: 'header__nav-link' %>
            </li>
          <% end %>
          <li class="header__nav-item"><a href="#modal-contacts" data-uk-modal class="header__nav-link">Контакты</a></li>
          <li class="header__nav-item"><a href="#modal-message" data-uk-modal class="header__nav-link">Письмо директору</a></li>
        </ul>
        <div class="header__search">
          <%= form_for search_path, url: {action: 'search', controller: 'search'}, method: :get do |f| %>
            <%= text_field_tag :q, params[:q] %>
            <%= submit_tag "Go", name: nil %>
          <% end %>

        </div>
      </div>
      <div class="uk-width-1-1 uk-width-medium-2-10 uk-text-right uk-text-center-small">
        <div class="header__city">
          <a href="#modal-city" data-uk-modal="" class="header__city-link">
            <%= current_subdivision.city.name if current_subdivision %>
          </a>
        </div>
        <div class="header__phone">
          <%= current_subdivision&.phones %>
        </div>
      </div>
      <div class="uk-width-1-10 uk-visible-small uk-text-center header__nav-cell">
        <span class="header__navbar-toggle uk-visible-small js-navbar-toggle"></span>
      </div>
    </div>
  </div>

</header>
