<% unless @last_news.empty? %>
  <div class="last-news">
    <div class="last-news__title">
      Новости
    </div>
    <% @last_news.each do |item| %>
      <div class="last-news__item">
        <div class="last-news__item-date"><%= item.updated_at.to_formatted_s(:long) %></div>
        <%= link_to item.title, news_path(item), class: 'last-news__item-name' %>
        <div class="last-news__item-anons"><%= item.preview %></div>
      </div>
    <% end %>
    <div class="last-news__more-cont">
      <%= link_to "Все новости", news_index_path, class: 'uk-button btn btn--blue btn--rounded' %>
    </div>
  </div>
<% end %>