<div id="modal-ok" class="uk-modal modal modal modal-ok">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close modal__close modal__close--nomargin"></a>
    <h2>Успешно отправлено</h2>
    <div class="modal__text">
      <p>Спасибо, ваша заявка отправлена.</p>
      <p>Наши менеджеры свяжутся с вами в ближайшее время.</p>
    </div>
    <div class="modal__footer uk-text-center">
      <div class="uk-button btn btn--blue btn--rounded uk-modal-close">Все понятно</div>
    </div>
  </div>
</div>