<div id="modal-message" class="uk-modal modal modal-message">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close modal__close modal__close--nomargin"></a>
    <h2>Письмо директору</h2>
    <%= form_for @client_feedback, html: {class: 'form'} do |f| %>
      <div class="form__group">
        <%= f.select :letter_subject_id do %>
          <option disabled>Выберите тему</option>
          <% @letter_subjects.each do |l| %>
            <%= content_tag(:option, l.name, value: l.id) %>
          <% end %>
        <% end %>
      </div>
      
      <div class="form__group">
        <div class="uk-form-icon uk-form-icon-flip uk-form-icon--right">
          <i class="uk-icon-user"></i>
          <%= fields_for @client do |c| %>
            <%= c.text_field :first_name %>
          <% end %>
        </div>
      </div>
      <div class="form__group">
        <div class="uk-form-icon uk-form-icon-flip uk-form-icon--right">
          <i class="uk-icon-phone"></i>
          <%= fields_for @client do |c| %>
            <%= c.text_field :phone, class: 'input-mask--phone' %>
          <% end %>
          <!-- <div class="form__help-block">Текс в случае неверного заполнения</div> -->
        </div>
      </div>
      <div class="form__group">
        <div class="uk-form-icon uk-form-icon-flip uk-form-icon--right">
          <i class="uk-icon-envelope"></i>
          <%= fields_for @client do |c| %>
            <%= c.text_field :email %>
          <% end %>
        </div>
      </div>
      <div class="form__group">
        <%= f.text_area :content, rows: 7%>
      </div>
      <div class="form__submit-cont uk-text-center">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <input type="submit" class="uk-button btn btn--blue btn--rounded" value="Отправить">
      </div>
    <% end %>
  </div>
</div>