<div id="modal-city" class="uk-modal modal modal-city modal--yellow">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close--red uk-close modal__close modal__close--nomargin"></a>
    <h2>Выберите ваш город</h2>
    <div class="modal__logo uk-text-center">
      <img src="/images/logo.png" alt="">
    </div>
    <div class="modal__text">
      <% @regions.each do |region| %>
        <% cities = region.cities.select{|city| city.subdivision != nil} %>
        <% unless cities.empty? %>
          <div class="modal__city-group">
            <div class="modal__city-name">
              <%= region.name %>
            </div>
            <div class="uk-grid modal__city-grid">
              
              <% cities.each do |city| %>
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <a href="/subdivisions/<%= city.subdivision.id %>/choice" class="modal__city-link">
                    <%= city.name %>
                  </a>
                </div>
              <% end %>
            </div>
            <p>
              <a href="#" class="modal__city-deliv">Прочесть условия доставки по региону</a>
            </p>
          </div>
          <hr>
        <% end %>
      <% end %>
    </div>
    <div class="modal__footer uk-text-center">
      <div class="uk-button btn btn--blue btn--rounded uk-modal-close">Закрыть окно</div>
    </div>
  </div>
</div>