<div id="modal-added-to-cart" class="uk-modal modal modal-added-to-cart modal--yellow">
    <div class="uk-modal-dialog">

        <a class="uk-modal-close uk-close--red uk-close modal__close modal__close--nomargin"></a>
        <h2>Добавлено в корзину</h2>
        <div class="modal__logo uk-text-center">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="uk-grid matc__info">
            <div class="uk-width-1-1 uk-width-medium-1-3">
                <img src="/images/temp/good-big-1.jpg" alt="">
            </div>
            <div class="uk-width-1-1 uk-width-medium-2-3 matc__info-text">
                <p>В корзину добавлен товар</p>
                <p>Инсталляция Leon 5 в 1 + унитаз Delfi Cersanit</p>
                <div class="matc__controls">
                    <a href="/cart.html" class="uk-button btn btn--blue btn--rounded btn--mw135 matc__to-cart">Оформить заказ</a>
                    <a href="#" class="uk-modal-close matc__continue">Продолжить покупки</a>
                </div>
            </div>
        </div>
    </div>
</div>
