<% products.each do |product| %>
  <div class="cart__table-row uk-grid">
    <div class="uk-width-1-1 uk-width-medium-1-10 uk-text-center">
      <a class="uk-icon-times-circle-o cart__remove link--red uk-visible-small cart__remove--small"></a>
      <%= image_tag(product.image.url(:thumb), class: 'cart__item-img') %>
      <div class="cart__item-art">арт. <%= product.article %></div>
    </div>
    <div class="uk-width-medium-1-10 cart__cell-mt cart__cell-mt--brand uk-visible-large">
      <%= image_tag(product.brand.image.url(:thumb)) %>
    </div>
    <div class="uk-width-1-1 uk-width-medium-5-10 cart__cell-mt">
      <%= link_to product.name, product_path(product), class: 'link--blue-red' %>
    </div>
    <div class="uk-width-1-2 uk-width-medium-1-10 cart__cell-mt cart__cell-mt--count">
      <input class="cart__item-count" type="number" value="1" min="1" max="999" maxlength="3">
    </div>
    <div class="uk-width-1-2 uk-width-medium-1-10 cart__cell-mt">
      <div class="cart__item-price">
        <%= product.price(current_subdivision)&.price_kopecks || 0 %>
        <span class="rub"></span></div>
    </div>
    <div class="uk-width-1-10 uk-hidden-small uk-text-right cart__cell-mt">
      <a class="uk-icon-times-circle-o cart__remove link--red"></a>
    </div>
  </div>
  <div class="cart__item-hr"></div>
<% end %>
