<section class="content">
  <div class="uk-container uk-container-center cart">
    <div class="cart__nav-group">
      <div class="cart__nav-btn cart__nav-btn--first is-active"
           onclick="$('.cart__nav-btn').removeClass('is-active'); $(this).addClass('is-active');">Ваш заказ
      </div>
      <div class="cart__nav-btn"
           onclick="$('.cart__nav-btn').removeClass('is-active'); $(this).addClass('is-active');">Оформление
      </div>
      <div class="cart__nav-btn cart__nav-btn--last"
           onclick="$('.cart__nav-btn').removeClass('is-active'); $(this).addClass('is-active');">Оформление
      </div>
    </div>
    <div class="cart__table">
      <div class="cart__table-row uk-grid uk-hidden-small">
        <div class="uk-width-7-10 uk-width-medium-6-10 uk-width-large7-10 uk-text-center cart__table-th">
            Товар
        </div>
        <div class="uk-width-1-10 uk-text-center cart__table-th">Кол-во</div>
        <div class="uk-width-1-10 uk-text-center cart__table-th">Стоимость</div>
        <div class="uk-width-1-10 uk-text-center cart__table-th"></div>
      </div>
      <div class="cart__item-hr uk-hidden-small"></div>
      <div class="cart__table-row uk-grid">
        <div class="uk-width-1-1 uk-text-center">
          <div class="cart__alert">
            <span>Внимание!</span> Количество товара на распродаже ограничено складскими остатками
          </div>
        </div>
      </div>
      <%= render partial: 'products', locals: {products: @products} %>
      <div class="uk-width-1-1 uk-text-right uk-text-center-small cart__btn-cont">
        <a href="#" class="uk-button btn btn--blue btn--rounded cart__btn">Продолжить покупки</a>
        <a href="#" class="uk-button btn btn--red btn--rounded cart__btn">Перейти к оформлению</a>
      </div>
    </div>
    <%= form_for(@order) do |f| %>
    <div class="cart__order uk-grid uk-grid-small cart__order-grid">
      <div class="uk-width-1-1 uk-width-medium-1-3">
        <div class="cart__order-group">
          <%= f.fields_for :client do |c| %>
          <div class="cart__order-title cart__order-title--first">Ваше имя</div>
          <div class="form__group">
            <div class="uk-form-icon uk-form-icon-flip uk-form-icon--right">
              <i class="uk-icon-phone"></i>
              <%= c.text_field :first_name %>
            </div>
          </div>
          <div class="cart__order-title">Телефон</div>
          <div class="form__group">
            <div class="uk-form-icon uk-form-icon-flip uk-form-icon--right">
              <i class="uk-icon-phone"></i>
              <%= c.text_field :phone, class: 'input-mask--phone' %>
            </div>
          </div>
          <div class="cart__order-title">Email</div>
          <div class="form__group">
            <div class="uk-form-icon uk-form-icon-flip uk-form-icon--right">
              <i class="uk-icon-envelope"></i>
              <input type="text" name="cart-email" id="cart-email" class="">
            </div>
          </div>
          <% end %>
          <div class="cart__accept-cont uk-form no-select">
            <label class="uk-margin-small-top"><input type="checkbox" name="cart-accept" id="accept"> Я согласен на обработку своих данных</label>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-medium-1-3">
        <div class="cart__order-group">
          <div class="cart__order-title cart__order-title--first">Доставка и оплата</div>
          <div class="panel panel--info uk-form">
            <label class="cart__deliv-label">
              <input type="radio" name="cart-delivery"> Самовывоз <span class="text--red">Скидка 2%</span>
            </label>
            <label class="cart__deliv-label">
              <input type="radio" name="cart-delivery"> Курьером
            </label>
          </div>
          <div class="panel panel--warning">
           Доставка БЕСПЛАТНО!
          </div>
          <div class="panel panel--danger">
           Скидка за самовывоз оформляется только при доставке наличными!
          </div>
          <div class="cart__order-title cart__order-title--mt">
            Выберите способ оплаты
          </div>
          <div class="uk-form">
            <label class="cart__deliv-label cart__deliv-label--small-text"><input type="radio" name="cart-delivery"> Наличными</label>
            <label class="cart__deliv-label cart__deliv-label--small-text"><input type="radio" name="cart-delivery"> Пластиковая карта</label>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-medium-1-3">
        <div class="cart__order-group">
          <div class="cart__order-title cart__order-title--first">
            Сумма заказа
          </div>
          <div class="cart__info-row">
            <div class="cart__info-price">7380 <span class="rub"></span></div>
            <div class="cart__info-title">Общая стоимость</div>
          </div>
          <div class="cart__info-row">
            <div class="cart__info-price">0 <span class="rub"></span></div>
            <div class="cart__info-title">Скидка</div>
          </div>
          <div class="cart__info-row">
            <div class="cart__info-price">7380 <span class="rub"></span></div>
            <div class="cart__info-title">Итого к оплате</div>
          </div>
          <div class="cart__order-title cart__order-title--small cart__order-title--mt-s">
            Комментарий к заказу
          </div>
          <textarea name="cart-comment" class="cart__info-comment textarea"></textarea>
          <p class="text--medium">Ознакомьтесь с условиями <a href="#" class="link--blue-red">Доставки и оплаты</a></p>
          <div class="cart__accept-cont uk-form no-select">
            <label class="uk-margin-small-top"><input type="checkbox" name="cart-sms" id="sms"> Я хоч получать SMS со статусом заказа</label>
          </div>
          <div class="uk-width-1-1 uk-text-center cart__btn-cont">
            <a href="#" class="uk-button btn btn--blue btn--rounded cart__btn">Назад</a>
            <%= f.submit 'Оформить заказ', class: 'uk-button btn btn--red btn--rounded cart__btn' %>
          </div>
          <div class="uk-text-center cart__spec-cont">
            <a href="#" class="cart__spec">Хотите вернуть 200 Р? Узнайте как</a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</section>
