<section class="content">
  <div class="uk-container uk-container-center brands">
    <h2 class="brands__title">Список брендов:</h2>

    <div class="brands__chars">
      <div class="brands__char-item is-active filter" data-filter="all">Все</div>
      <% list_letters(@brands.map{|b| b.name}).each do |letter| %>
        <div class="brands__char-item filter" data-filter=".brand__item-cell--<%= letter %>">
        <%= letter.upcase %></div>
      <% end %>
    </div>

    <div class="uk-grid uk-grid-xsmall" id="container">
      <% @brands.each do |brand| %>
        <div class="uk-width-1-2 uk-width-medium-1-5 uk-width-large-1-8 uk-width-xlarge-1-10 brands__item-cell mix brand__item-cell--<%= brand.name[0].upcase %>">
          <%= link_to brand, class: 'brands__item' do %>
            <%= image_tag brand.image, class: 'brands__item-image' %>
            <div class="brands__item-name">
              <%= brand.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>