<section class="content">
  <div class="uk-container uk-container-center news">
    <div class="uk-grid">
      <div class="uk-width-1-1 uk-width-medium-5-7 uk-width-large-5-7 uk-width-xlarge-6-8 uk-push-2-7">
        <h1 class="news__title">Новости</h1>
        <div class="news__years">
          <a href="#" class="news__years-item">2016</a>
          <a href="#" class="news__years-item">2015</a>
          <a href="#" class="news__years-item is-active">2014</a>
          <a href="#" class="news__years-item">2013</a>
          <a href="#" class="news__years-item">2012</a>
          <a href="#" class="news__years-item">2011</a>
          <a href="#" class="news__years-item">2010</a>
          <a href="#" class="news__years-item">2008</a>
        </div>
        <div class="clear"></div>
        <div class="news__list">
          <% @news.each do |item| %>
            <div class="news__item">
              <div class="news__item-date"><%= item.updated_at %></div>
              <%= link_to item.title, news_path(item), class: 'news__item-name' %>
              <div class="news__item-anons"><%= item.preview %></div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-medium-2-7 uk-width-large-2-7 uk-width-xlarge-2-8 uk-pull-5-7">
        <%= render 'shared/last_news' %>
      </div>
    </div>
  </div>
</section>