<section class="content">
  <div class="uk-container uk-container-center news">
    <div class="uk-grid">
      <div class="uk-width-1-1 uk-width-medium-5-7 uk-width-large-4-5 uk-push-2-7">
        <h2 class="news__title">Новости</h2>
        <div class="news__years">
          <a href="/news.html" class="news__years-item">2016</a>
          <a href="/news.html" class="news__years-item">2015</a>
          <a href="/news.html" class="news__years-item is-active">2014</a>
          <a href="/news.html" class="news__years-item">2013</a>
          <a href="/news.html" class="news__years-item">2012</a>
          <a href="/news.html" class="news__years-item">2011</a>
          <a href="/news.html" class="news__years-item">2010</a>
          <a href="/news.html" class="news__years-item">2008</a>
        </div>
        <div class="clear"></div>
        <div class="new">
          <div class="new__date"><%= @news.updated_at %></div>
          <h1 class="new__title"><%= @news.title %></h1>
          <div class="text-content">
            <%= @news.body %>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-medium-2-7 uk-width-large-1-5 uk-pull-5-7">
        <%= render 'shared/last_news' %>
      </div>
    </div>
  </div>
</section>