#sidebar{
  .sidebar{
    li{
      list-style: none;
    }
    .root{
      display: block;
      ul{
        display: none;
        &.show{
          display: block;
        }
      }
      .category > a{
        color: green;
        margin-right: 5px;
      }
    }
    .group > span{
      color: #38678b;
      cursor: pointer;
      text-decoration: underline;
      margin-right: 5px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}