<!DOCTYPE html>
<html>
<head>
  <title>Esmag</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'shared/stylesheets' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrap">
    <%= render 'shared/header' %>
    <%= render 'shared/catalog_top_menu' %>
    <%= render 'shared/top_adver' %>
    <%= yield %>
  </div>
  <%= render 'shared/fixed_cart' %>
  <%= render 'shared/footer' %>
  <%= render 'shared/modal_message' %>
  <%= render 'shared/modal_city' %>
  <%= render 'shared/modal_ok' %>
  <%= render 'shared/modal_added_to_cart' %>
  <%= render 'shared/scripts' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
